name: Jakarta Contexts and Dependency Injection CI

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    name: "Build CDI - JDK ${{matrix.java}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17', '21' ]
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.0.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - if: ${{ matrix.java != '11' }}
        name: "Maven install > 11"
        run: |
          mvn -Pstaging install -DskipTests=true -B -V
      - if: ${{ matrix.java == '11' }}
        name: "Maven install 11"
        run: |
          mvn -Pstaging -pl '!el' install -DskipTests=true -B -V
      - if: ${{ matrix.java != '11' }}
        name: "Maven test > 11"
        run: |
          mvn -Pstaging test -B
      - if: ${{ matrix.java == '11' }}
        name: "Maven install 11"
        run: |
          mvn -Pstaging -pl '!el' test -B
