name: Jakarta Contexts and Dependency Injection CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: "Build CDI - JDK ${{matrix.java}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17' ]
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1.4.3
        with:
          java-version: ${{ matrix.java }}
      - name: "Maven install"
        run: |
          mvn -Pstaging install -DskipTests=true -B -V
      - name: "Maven test"
        run: |
          mvn -Pstaging test -B
