# Copyright (c) 2021 Red Hat, Inc. and others
# 
# This program and the accompanying materials are made available under the
# Apache Software License 2.0 which is available at:
# https://www.apache.org/licenses/LICENSE-2.0.
# 
# SPDX-License-Identifier: Apache-2.0
name: Jakarta Contexts and Dependency Injection CI

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    name: "Build CDI - JDK ${{matrix.java}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21' ]
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: "Maven install"
        run: |
          mvn -Pstaging install -DskipTests=true -Dno-format -B -V
      - name: "Maven test"
        run: |
          mvn -Pstaging test -B