# Copyright (c) 2021 Red Hat, Inc. and others
# 
# This program and the accompanying materials are made available under the
# Apache Software License 2.0 which is available at:
# https://www.apache.org/licenses/LICENSE-2.0.
# 
# SPDX-License-Identifier: Apache-2.0
name: Jakarta Contexts and Dependency Injection CI

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    name: "Build CDI - JDK ${{matrix.java}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17', '21' ]
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - if: ${{ matrix.java != '11' }}
        name: "Maven install > 11"
        run: |
          mvn -Pstaging install -DskipTests=true -Dno-format -B -V
      - if: ${{ matrix.java == '11' }}
        name: "Maven install 11"
        run: |
          mvn -Pstaging -pl '!el' install -DskipTests=true -Dno-format -B -V
      - if: ${{ matrix.java != '11' }}
        name: "Maven test > 11"
        run: |
          mvn -Pstaging test -B
      - if: ${{ matrix.java == '11' }}
        name: "Maven test 11"
        run: |
          mvn -Pstaging -pl '!el' test -B
